/* Top Pane Styles */
.border-pane .top {
  -fx-background-color: #252525;
}

/* VBox Styles */
.vbox, #conversationsContainer {
  -fx-background-color: #2A2A36;
}

/* ScrollPane Styles */
.scroll-pane {
  -fx-background-color: transparent;
  -fx-border-width: 0px;
}

/* ListView Styles */
.list-view {
  -fx-background-color: #2A2A36;
  -fx-text-fill: #ffffff;
}

/* HBox Styles */
.hbox {
  /* Add your HBox styles here */
}

/* TextArea Styles */
.text-area {
  -fx-background-color: #2A2A36;
  -fx-text-fill: #000000;
}

/* Button Styles */
.button {
  -fx-background-color: #363636;
  -fx-text-fill: #ffffff;
}

/* ImageView Styles */
.image-view {
  /* Add your ImageView styles here */
}

/* Label Styles */
.label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 25.0;
  -fx-font-family: "SansSerif Regular";
}

/* BorderPane Styles */
.border-pane {
  -fx-background-color: #1f1f1f;
}

/* Left Section Styles */
#conversationsContainer, #conversationsContainer .scroll-pane {
  -fx-background-color: #1f1f1f;
}

/* TextArea Styles */
.text-area.dark-mode {
    -fx-control-inner-background: #2A2A36;
    -fx-background: #2A2A36, #2A2A36;
    -fx-text-fill: #ffffff;
}

/* TextArea Styles Question/Answer */
.answer, .question {
  -fx-font-size: 14px;
  -fx-pref-width: -1;
  -fx-spacing: 20;
  -fx-alignment: TOP_LEFT;
  -fx-background-radius: 5px;
  -fx-padding: 15;
}

.answer Text, .question Text {
  -fx-text-fill: white;
  -fx-fill: white;
}

.question {
  -fx-background-color: #3C3C45;
}

.answer {
  -fx-background-color: #434353;
}
